.booking-header {
    position: relative;
    width: 373px;
    height: 82px;
    margin: 0 auto;
    font-size: 0px;
}
.booking-information {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 373px;
    height: 54px;
    margin: 0 0 0 0;
    color: #152c5b;
    font-family: Poppins, var(--default-font-family);
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    text-align: center;
    white-space: nowrap;
    z-index: 1;
}
.fill-up-fields {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 325px;
    height: 24px;
    margin: 4px 0 0 31px;
    color: #b0b0b0;
    font-family: Poppins, var(--default-font-family);
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
}
.booking-info-inputs {
    display: flex;
    flex-direction: row; /* Вирівнювання дочірніх елементів в рядок */
    justify-content: center; /* Центрування елементів по горизонталі */
    align-items: flex-start; /* Центрування елементів по вертикалі */
    width: 100%; /* Заповнення всієї ширини батьківського елемента */
    padding: 30px 0; /* Додавання верхнього та нижнього відступів для візуального комфорту */
    gap: 84px; /* Відстань між дочірніми елементами */
}

.container-booking-info {
    position: relative;
    width: 420px;  /* Ширина контейнера */
    height: 270px; /* Висота контейнера */
    background: url(../assets/images/karpaty_lviv.jpg) no-repeat center;
    background-size: cover;
    z-index: 1;
    border-radius: 15px;
    display: flex;
    flex-direction: column; /* Дочірні елементи в колонку */
    justify-content: flex-end; /* Елементи внизу контейнера */
    padding: 10px; /* Внутрішні відступи */
}

.price-info {
    align-self: flex-end; /* Вирівнювання праворуч */
    margin-top: 10px; /* Відступ зверху */
    color: #152c5b;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.price-info span {
    display: inline; /* В один рядок */
    line-height: 27.2px;
    margin-right: 5px; /* Відступ між словами */
}
.flex-column-cd {

    width: 134px;
    height: 53px;

    font-size: 0px;
    z-index: 5;
    margin-bottom: 20px;
}
.podo-wae {
    display: block;
    position: relative;
    height: 30px;
    margin: 0 0 0 0;
    color: #152c5b;
    font-family: Poppins, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    z-index: 4;
}
.madiun-indonesia {
    display: block;
    position: relative;
    height: 23px;
    margin: 0 0 0 0;
    color: #b0b0b0;
    font-family: Poppins, var(--default-font-family);
    font-size: 15px;
    font-weight: 300;
    line-height: 22.5px;
    text-align: left;
    white-space: nowrap;
    z-index: 5;
}

.usd {
    position: relative;
    color: #152c5b;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
    text-align: right;
}
.per {
    position: relative;
    color: #b0b0b0;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 300;
    line-height: 27.2px;
    text-align: right;
}
.usd-1 {
    position: relative;
    color: #152c5b;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
    text-align: right;
}
.hr-booking{
    width: 1px; /* Ширина лінії */
    height: 400px; /* Довжина лінії */
    background-color: gray; /* Колір лінії */
    border: none; /* Видалення стандартного бордюра */
}
.text-above-input {
    display: block;
    position: relative;
    height: 27px;
    margin: 0 0 0 0;
    color: #152c5b;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    white-space: nowrap;
    z-index: 1;
}
.rectangle-input-booking {
    position: relative;
    width: 320px;
    height: 45px;
    margin: 8px 0 0 0;
    background: #f5f6f8;
    z-index: 2;
    border-radius: 4px;
}
.type-here {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 27px;
    top: 9px;
    left: 14px;
    color: #d2d5db;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    white-space: nowrap;
    z-index: 3;
}
.booking-buttons {
    display: flex;
    justify-content: flex-start;
    position: relative;

    width: 765px;
    height: 50px;
    margin: 0 auto;
}
.booking-cancel {
    position: relative;
    width: 210px;
    height: 50px;
    background: #f5f6f8;
    z-index: 1;
    border-radius: 4px;
}
.cancel {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 73.81%;
    height: 62%;
    top: 18%;
    left: 13.33%;
    color: #b3b3b3;
    font-family: Poppins, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 30.6px;
    text-align: center;
    white-space: nowrap;
    z-index: 2;
}
.booking-next {
    position: relative;
    width: 210px;
    height: 50px;
    border-radius: 4px;
    background: #3252df;
    z-index: 4;
    box-shadow: 0 8px 15px 0 rgba(49, 81, 223, 0.3);
}
.continue-to-book {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 73.81%;
    height: 62%;
    top: 18%;
    left: 13.33%;
    color: #ffffff;
    font-family: Poppins, var(--default-font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 30.6px;
    text-align: center;
    white-space: nowrap;
    z-index: 5;
}

.row-of-inputs{
    display: flex;
    flex-direction: row; /* Вирівнювання дочірніх елементів в рядок */
    justify-content: flex-start; /* Центрування елементів по горизонталі */
    align-items: flex-start; /* Центрування елементів по вертикалі */
    gap: 30px;
}
.first_column-inputs{
    width: 210px;
}
.booking-inputs{
    justify-content: center; /* Центрування елементів по горизонталі */
    align-items: flex-start; /* Центрування елементів по вертикалі */

}
.row-of-buttons{
    display: flex;
    flex-direction: row; /* Вирівнювання дочірніх елементів в рядок */
    justify-content: flex-start; /* Центрування елементів по горизонталі */
    align-items: flex-start; /* Центрування елементів по вертикалі */
    gap: 30px;
    padding-top: 40px;
}