.houses-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Створює три колонки з однаковою шириною */
    gap: 20px; /* Відстань між елементами гріду */
    padding: 10px; /* Відступ всередині обгортки */
}